* {
  margin: 0;
  box-sizing: border-box;
}

.header-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h1 {
  font-size: 3rem;
}

.body-area {
  display: flex;
  flex-direction: column;
  outline: solid 2px black;
}

main {
  background-color: aqua;
}

.main-area {
  background-color: blueviolet;
}

#main {
  background-color: coral;
}

/* .paragraph-wrapper {
} */

.text {
  font-size: 1rem;
}

/* #text-id {
} */

/* .footer-area {
} */

/* ------------FLEXBOX AREA-------- */

.flexbox-area {
  display: flex;
  width: 100%;
  min-height: 400px;
  outline: solid 2px black;
}

.box-one {
  width: 200px;
  height: 200px;
  background-color: aqua;
}

.box-a {
  display: flex;
}

.box-two {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 221, 0);
}

.box-b {
  display: flex;
}

.box-three {
  width: 200px;
  height: 200px;
  background-color: rgb(232, 113, 194);
}

.box-c {
  display: flex;
}

/* ------------GRID AREA-------- */

.grid-section {
  display: grid;
  grid-template-areas:
    'section1'
    'section2'
    'section3'
    'section4';
}

.section1 {
  grid-area: section1;
  background-color: #f0f8ff;
  width: 100%;
  height: 33vh;
  border: solid 2px black;
  display: flex;
  grid-column: 1/4;
}

.aa {
  background-color: red;
  width: 33%;
  height: 33%;
  grid-column: 1/3;
}

.bb {
  background-color: blue;
  width: 33%;
  height: 33%;
  grid-column: 2/3;
}

.section2 {
  grid-area: section2;
  background-color: #00ffff;
  width: 100%;
  height: 33vh;
  border: solid 2px black;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  grid-column: 1/3;
}

.cc {
  background-color: red;
  width: 33%;
  height: 33%;
  grid-row: 2/5;
}

.dd {
  background-color: blue;
  width: 33%;
  height: 33%;
  grid-column: 3/4;
}

.section3 {
  grid-area: section3;
  background-color: #7fffd4;
  width: 100%;
  height: 33vh;
  border: solid 2px black;
}

.section4 {
  grid-area: section4;
  background-color: #5f9ea0;
  width: 100%;
  height: 33vh;
  border: solid 2px black;
}
